*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #F4B92C;
    --font-color: #000000;
    --secondary-color: #ffffff;
}
body{
    height: 100vh;
    background: var(--primary-color);
    color: var(--font-color);
    font-family: 'Roboto', sans-serif;
}

.start-btn,
.info-box,
.score-container,
#display-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0px #a8a8a8;
}
.info-box,
#display-container{
    display: none;
}
.start-btn button,
#restart{
    box-shadow: 0px 4px 8px 0px #a8a8a8;
}
#restart{
    margin-top: 0.9rem;
}
.btn{
    font-size: 1.56rem;
    font-weight: 500;
    padding: 0.9rem 1.9rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    color: var(--font-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.info-box,
#display-container{
    background: var(--secondary-color);
    color: var(--font-color);
    border-radius: 0.5rem;
    max-width: 34rem;
    width: 100%;
    padding: 0.9rem 1.9rem;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.hide{
    display :none;
}
.info-box h1{
    margin-bottom: 1.5rem;  
}
.info{
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
   
}
.info span{
    color: var(--primary-color);
    font-weight: 600;
} 
li{
    margin-bottom: 1rem;
}
.info-box .buttons{
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2rem;
}
.info-box .buttons button{
    font-size: 1rem;
    margin: 1rem 0.5rem 0;
    border: 0.05rem solid var(--primary-color);
}



.buttons .exit{
    color: var(--primary-color);
    
}
.buttons .restart,
#restart,
#next-button{
    color: var(--secondary-color);
    background: var(--primary-color);
}
#next-button{
    font-size: 1rem;
    float: right;
}
.buttons .exit:hover{
    color: var(--secondary-color);
    background: var(--primary-color);
}
.buttons .restart:hover,
#restart:hover,
#next-button:hover{
    background: #e4a208;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.8rem;
    border-bottom: 0.1rem solid #c0bfd2;
    padding-bottom: 0.5rem;
}
.timer-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7.5rem;
    padding: 0.7rem 1.8rem;
    background: #ceceef;
    border-radius: 1.8rem;
}